@import 'src/lib/styles/variables.less';

main > * {
  width: @content-width;
  padding: 1em 0;
}



main {
  min-height: 90vh;

  a {
    text-align: center;
  }

  :global(a.image-wrapper) {
    text-align: center;
    position: relative;
    margin: 1em 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0.25rem;
      background-color: var(--ui-accent);
      border-radius: 2px;
    }
      
    &::after {
        width: 45%;
        left: 0.5em;
        bottom: -1em;
        transform: translateY(50%);
      }
      
    &::before {
      width: 25%;
      right: 0.5em;
      top: -1.25em;
      transform: translateY(50%);
    }
  }

  

  :global(img) {
    max-height: 65vh;
  }

}

section {
  display: flex;
  justify-content: space-between;
  &:not(:nth-of-type(1)) {
    border-bottom: 1px solid var(--ui-gray-5);
  }

  h5 {
    .subtitle-font();
    color: var(--font-color-default);
  }
  
}

section.description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  p, :global(a) {
    .default-font();
    color: var(--font-color-default);
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   height: 0.25rem;
  //   background-color: var(--ui-accent);
  //   border-radius: 2px;
  //   width: 66%;
  //   right: 0;
  //   bottom: 0.25rem;
  //   transform: translateY(50%);
  // }
}

section.topics {
  padding: 1em;
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25em 0.5em;
  
  a {
    .default-font();
    text-decoration: underline;
    color: var(--font-color-link)
  }
}

section.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em 0.75em;
  
  button {
    border: none;
    background-color: transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    i {
      .default-icon();
      color: var(--icon-color);
    }
    
    span {
      .default-icon-clue();
      color: var(--icon-color);
    }
  }
}

section.original-data {
  flex-wrap: wrap;
  
  dl {
    margin-top: 1em;
    .default-font();
    color: var(--font-color-default);

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em 0;

    dt {
      grid-column: 1/2;
      padding: 0.125rem 0.125rem 0.125rem 1em;
    }
    
    dd {
      grid-column: 2/3;
      padding: 0.125rem 1em 0.125rem 0.125rem;
    }

    dd, dt {
      &:nth-of-type(odd) {
        background-color: var(--ui-secondary-light);
      }
    }

  }
}


header {
  margin-top: 4em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
  h1 {
    .title-font();
    color: var(--font-color-default);
    text-align: center;
    flex-grow: 1;
  }

  a {
    margin-right: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
 
    i {
      .default-icon();
      margin-bottom: 0;
      color: var(--font-color-default);
    }
  }
}


p {
  .default-font();
  max-width: 45ch;
  overflow-wrap: break-word;
  :global(*) {
    color: var(--font-color-link);
  }
}

a {
  .default-font();
  color: var(--font-color-link);
  display: inline;
  align-items: center;
}

section > div.link-wrapper {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.link-wrapper > a {
  text-align: end;
}

@media @gt-mobile {
  header {
    margin-top: 0;
    i {
      margin-bottom: 0;
    }
  }

  main {
    > * {
      padding: 2em 0;
    }

    :global(a.image-wrapper) {  
      &::before,
      &::after {
        height: 0.33rem;
      }
      
      &::after {
        bottom: -1.5em;
      }
        
      &::before {
        top: calc(-1.5em - 0.33em);
      }
    }

    .description {
      p::after {
        right: -2em;
        width: 70%;
      }
    }
  }  

  section.topics {
    gap: 0.5em .75em;
  }
  
}