@import 'src/lib/styles/variables.less';

main.container {
  padding-top: 5em;
}

section {
  padding: 1.5em 0 1em 0;
  width: @text-width;
}

h1, 
h2 {
  .title-font();
  color: var(--font-color-default);
  margin-bottom: 0.75em;
}

p {
  .default-font();
  color: var(--font-color-default);
  max-width: 50ch;
}

a {
  color: var(--font-color-link);
}